/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM STYLES */

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Roboto Mono', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  padding: 10%;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 14px;
  height: 25%;
  width: 33.33%;
}

button:focus {
  outline: 0;
}

h2 {
  color: #666;
  font-size: 15px;
  margin-bottom: 30px;
}

input {
	padding:0;
}

.variable {
	color: #3CC654;
}

.operator {
  color: #EF382B;
}

.equals {
	color: #3C9FC6;
	opacity: 1;
}

.screen {
  padding: 10px;
}

.solved {
  opacity: .4;
}

.solved:hover {
  opacity: 1;
}

.screen span {
	white-space:pre;
}

.starred {
	opacity: 1;
}

.starred .result {
	background-color: #3CC654;
	color: white;
	padding: 0 1ch;
	position: relative;;
	right: 1ch;
}

.starred .equals {
	color: white;
}

.screen input {
	display:none;
}

.starred input {
	background-color: #3CC654;
	border: none;
	color: white;
	display: inline-block;
	font-size: .9em;
	line-height: 1em;
	margin-left: 1ch;
}

.starred input:focus {
	background-color: white;
	color: #3CC654;
	outline: none;
	margin-left: .5ch;
	padding-left: .5ch;
}

#screen-container {
  font-size: 24px;
  overflow: scroll;
  padding-bottom: 200px
}

#buttons-container {
  background-color: white;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 200px;
  justify-content: center;
  left: 0;
	padding: 25px 0;
  position: fixed;
  right: 0;
}

#numbers-container {
	background-color: #444;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 200px;
}

#numbers-container button {
	color: white;
}

#numbers-container button:hover {
	background-color: rgba(255, 255, 255, .5);
}

#numbers-container button:last-child {
  width: 66.66% ;
}

#operators-container {
	background-color: #EF382B;
  display: flex;
  flex-direction: column;
	height: 100%;
  width: 66px;
}

#operators-container button {
	color: white;
  width: 100%;
}

#operators-container button:hover {
	background-color: rgba(255, 255, 255, .5);
}

#actions-container {
	background-color: #FFC900;
  display: flex;
  flex-direction: column;
	height: 100%;
  width: 134px;
}

#actions-container button {
	color: white;
  letter-spacing: 1px;
  width: 100%;
}

#actions-container button:hover {
	background-color: rgba(255, 255, 255, .5);
}

#actions-container button:first-child {
	background-color: #3C9FC6;
	color: white;
}

#actions-container button:first-child:hover {
	background-color: #9ECFE3;
}


#variable-container  {
	display: flex;
	flex-wrap: wrap;
	background-color: #3CC654;
	max-width: 50%;
	overflow-y: scroll;
}

#variable-container span {
	color: white;
	height: 37.5px;
	line-height: 37.5px;
	padding: 0 2ch;
}

#variable-container span:hover {
	background-color: rgba(255, 255, 255, .5);
}
